<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/006717e367.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="apple-touch-icon image_src"
      href="static/apple-touch-icon.png"
    />
  </head>
  <body>
    <main>
      <h1>Shopping List</h1>
      <h2>Add Item</h2>
      <form method="POST" action="{% url 'item_view' %}">
        {% csrf_token %}
        <input name="item" required autofocus placeholder="New Item" />
        <button type="submit">
          <i class="fas fa-plus"></i>
        </button>
      </form>

      <section>
        <h2>To Purchase</h2>
        {% if not items %}
        <p>All done!</p>
        {% endif %} {% for item in items %}
        <div class="row">
          <div class="item">{{ item }}</div>
          <div class="buttonGroup">
            <button class="buyButton" value="{{ item.id }}">
              <i class="fas fa-check"></i>
            </button>
            <button class="deleteButton" value="{{ item.id }}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        {% endfor %}
      </section>

      {% if purchased %}
      <section id="purchased">
        <h2>Recently Purchased</h2>
        {% for item in purchased %} {% ifchanged item.purchased_at.date %}
        <h3>{{ item.purchased_at.date }}</h3>
        {% endifchanged %}
        <div class="row">
          <div class="item">{{ item }}</div>
          <div>
            <button class="restoreButton" value="{{ item.id }}">
              <i class="fas fa-undo"></i>
            </button>
            <button class="deleteButton" value="{{ item.id }}">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        {% endfor %}
      </section>
      {% endif %}
    </main>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
